  <div class="container-fluid d-flex justify-content-center align-items-center align-content-center align-self-center   my-auto" style="height:600px;">
      <div class="jumbotron d-inline-block justify-content-center align-items-center align-content-center align-self-center   my-auto visible" style="background-color:transparent;padding:0;margin:auto 0;max-width:700px;"><img class="d-block"   src="assets/img/l300.png" style="margin:0 auto;padding:15;padding-bottom:15px;">
          <h1 class="text-center" style="color:#cfb31e;font-family:Anton, sans-serif;font-size:2.5rem;padding:0;margin:0; ">Private Party Rooms</h1>
          <p class="text-center" style="color:rgb(234,10,10);font-size:1.5rem;font-family:Barlow, sans-serif; padding-top:-10px;margin-top:-10px;">Must be 18+ to participate</p>
          <p class="text-center"><a class="btn btn-primary d-inline-block float-none" role="button"   href="http://jitsi.perv.cloud">Click Here</a></p>
      </div>
  </div>