    <div class="container-fluid menu-container">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color:transparent;">
            <div class="container"><a class="navbar-brand" href="/index.html#home">perv</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/info" style="font-size:1rem;width:70px;margin:0 15px;">Info</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/index.html#blog" style="font-size:1rem;width:70px;margin:0 15px;">Blog</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/contact" style="width:70px;">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>