<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/bootstrap/css/bootstrap.min.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/Navigation-Clean-tmp.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/style.compiled.css" | relative_url  }}">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

    {% seo %}

</head>

<body class="noScroll">
  {% include navbar.html %}
  <div class="container">
        {{ content }}
    </div>
    <script src="{{ "/assets/js/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/bootstrap/js/bootstrap.min.js" | relative_url }}"></script>
<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl',  'https://api-48cf3cde3c8cd2c3b2e674b25cea7684.turbo.sandcats.io']);
    _paq.push(['setSiteId', 2]);
    _paq.push(['setApiToken', '0ap7juCXcspk2PoAywYaBhRYp68E_FjnFaqwTiVTxHq']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='https://dpvszxvqcquyezmy9rl9.turbo.sandcats.io/embed.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Piwik Code -->
</body>

</html>